<div class = "row">
    <div class="col-md-12">
        <h3 class="text-center">Add a coupon</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form (submit)="addCoupon(couponForm)" #couponForm = ngForm>
            <div class = "row ">
                <div class="col-md-12">
                    <div class="form-group">
                        <span><i class="fas fa-envelope mr-1" aria-hidden="true"></i></span>
                        <label for="exampleInputEmail">Coupon name</label>
                        <input type="text" class="form-control" placeholder="Summer sale" name="couponName" required [(ngModel)]="couponName">
                        <div *ngIf="couponNameErrors" class="invalid-feedback d-inline">
                            {{couponNameErrors}}
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row ">
                <div class="col-md-12">
                    <div class="form-group">
                        <span><i class="fas fa-envelope mr-1" aria-hidden="true"></i></span>
                        <label for="exampleInputEmail">Percent off</label>
                        <input type="text" class="form-control" placeholder="50" name="percent_off" required [(ngModel)]="percent_off">
                        <div *ngIf="percent_offErrors" class="invalid-feedback d-inline">
                            {{percent_offErrors}}
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row ">
                <div class="col-md-12">
                    <div class="form-group">
                        <span><i class="fas fa-envelope mr-1" aria-hidden="true"></i></span>
                        <label for="exampleInputEmail">Duration</label>
                        <select name="duration" required [(ngModel)]="duration">
                            <option selected="selected" value disabled>Select one:</option>
                            <option value="once">Once</option>
                            <option value="forever">Forever</option>
                            <option value="repeating">Repeating</option>
                        </select>
                        <div *ngIf="durationErrors" class="invalid-feedback d-inline">
                            {{durationErrors}}
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row" *ngIf="duration === 'repeating' || duration === 'forever'">
                <div class="col-md-12">
                    <div class="form-group">
                        <span><i class="fas fa-envelope mr-1" aria-hidden="true"></i></span>
                        <label for="exampleInputEmail">Duration in months</label>
                        <input type="email" class="form-control" placeholder="3" name="duration_in_months" required [(ngModel)]="duration_in_months">
                        <div *ngIf="durationLog" class="invalid-feedback d-inline">
                            {{durationLog}}
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-secondary" value = "Create">
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                Go to <a routerLink="/home">Home page</a>
            </div>
        </div>
    </div>
</div>