<div class = "row">
    <div class="col-md-12 ">
        <h3 class="text-center">Login</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form (submit)="login(loginForm)" #loginForm = ngForm>
            <div class = "row ">
                <div class="col-md-12">
                    <div class="form-group">
                        <span><i class="fas fa-envelope mr-1" aria-hidden="true"></i></span>
                        <label for="exampleInputEmail">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail" placeholder="email@example.com" name="name" required [(ngModel)]="email" aria-describedby="emailHelp" #emailname="ngModel" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
                        <div *ngIf="emailname.errors && email !== '' && button_status" class="invalid-feedback d-inline">
                            Enter email in correct format like myemail@gmail.com.
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-12">
                    <div class="form-group">
                        <span><i class="fas fa-lock mr-1" aria-hidden="true"></i></span>
                        <label for="exampleInputPassword">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword"  name="password" required [(ngModel)]="password">
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="errorMsg">
                <div class="col-md-12">
                    <span class="errorMessage"> {{errorMsg}} </span>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-secondary" value = "Log in" [disabled]="!loginForm.valid ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span> or <a routerLink="/signup">Signup</a> for free</span>
                </div>
            </div>
        </form>
    </div>
</div>